{% extends 'layouts.htm' %}
{% block content %}
<div class="container-fluid">
<div class="jumbotron bg-dark text-center">
    <div class="pitch">
    <h1 class="display-4 text-white">Welcome to Pitch_App</h1>
    <p class="lead text-white">Create an account and Post a pitch I know you are thinking of right now!</p>
    <hr class="my-4">
    <p class="text-white text-center">A query Pitched is a turning point to someone else!</p>
</div>

  </div>
{% for post in posts %}

<article class="media content-section">
    <img class="article-img" src="{{url_for('static',filename= 'pics/' + post.author.image_file)}}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content"><a  href="{{ url_for('post', post_id=post.id) }}">{{ post.content }}</a></p>
        <i class="fa fa-thumbs-up icon fa-2x">9</i> 
        <i class="fa fa-thumbs-down ml-5 icons fa-2x">1</i>
    </div>
</article>
{% endfor %}
{% endblock content %}
</div>