{% extends 'layouts.htm' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Welcome to the Blog</legend>
            <div class="form-group">
                {{ form.Username.label(class="form-control-label") }}
                {{ form.Username(class="form-control form-control-lg is-invalid") }}

                <div class="form-group">
                    {{ form.Email.label(class="form-control-label") }}

                    {{ form.Email(class="form-control form-control-lg is-invalid") }}

                    <div class="form-group">
                        {{ form.Password.label(class="form-control-label") }}

                        {{ form.Password(class="form-control form-control-lg is-invalid") }}

                        <div class="form-group">
                            {{ form.Confirm_Password.label(class="form-control-label") }}
                            {{ form.Confirm_Password(class="form-control form-control-lg is-invalid") }}

                        </div>
        </fieldset>
        <div class="form-group">
            {{ form.Submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
    {% endblock content %}